body {
  .content {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    color: red;
    text-align: center;
    background-image: url(../asset/th.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
}